/* ************
	CONTENEDOR 1
	************* */
h1{
	clear: both;
}
.cont-1{
	border: 2px solid gray;
}
.cont-1 #yellow,
.cont-1 #blue,
.cont-1 #red{
	width: 320px;
	height: 200px;
}
#yellow{
	background-color: yellow;
}

#blue{
	background-color: blue;
}
#red{
	background-color: red;
}
/* ************
	CONTENEDOR 2
	************* */
.cont-2 #yellow,
.cont-2 #blue,
.cont-2 #red{
	width: 320px;
	height: 200px;
	float: left;
}
.cont-2{
	overflow: auto;
	border: 2px solid gray;
}
/* ************
	CONTENEDOR 3
	************* */
.cont-3 #yellow,
.cont-3 #blue,
.cont-3 #red{
	width: 320px;
	height: 200px;
	float: right;
}
.cont-3{
	overflow: auto;
	border: 2px solid gray;
}