/* ************
	CONTENEDOR 1
	************* */
h1{
	clear: both;
}
.cont-1{
	border: 2px solid gray;
}
.cont-1 #yellow,
.cont-1 #blue,
.cont-1 #red{
	width: 320px;
	height: 200px;
}
#yellow{
	background-color: yellow;
}

#blue{
	background-color: blue;
}
#red{
	background-color: red;
}
